
html{
  background-color: rgba(8, 2, 49, 0.986);
}
 
 .info{
  
  font-size: 1cm;
  color: white;
  font-weight: 100;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
  
}
canvas {
  display: block;
  margin-left: 530px;
  margin-top: 50px;
  
  
}

header {
  background-color: whitesmoke;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */


/* Style the list inside the menu */
section ul {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  color:white;
}



h2{
  color: black; 
}
a{
  color: white;
}

